In [9]:
###
import numpy as np 
import pandas as pd
import scipy.stats as st

Vytvorime dataframe, vybereme potrebne sloupce a odstranime vsechny nehody co byly zpusobeny pod vlivem drog

In [10]:
df = pd.read_pickle('accidents.pkl.gz', compression= 'gzip')

df_cg = pd.DataFrame({"alcohol": df["p11"], "dead": df["p13a"], "heavy_inj": df["p13b"]})
df_cg = df_cg.drop(df[(df_cg.alcohol == 4) | (df_cg.alcohol == 5)].index)
df_cg

        alcohol  dead  heavy_inj
0             2     0          0
1             2     0          0
2             2     0          0
3             9     0          0
4             0     0          0
...         ...   ...        ...
487156        0     0          0
487157        2     0          0
487158        0     0          0
487159        2     0          0
487160        0     0          0

[485683 rows x 3 columns]

Vybereme pouze typy nehod, ktere zpusobil ridic pod silnym vlivem alkoholu a kde došlo k umrti nebo tezkemu zraneni

In [11]:
df_cg["drunk"] = (df_cg["alcohol"] >= 7)
df_cg["heavy_nasledky"] = ((df_cg["dead"] + df_cg["heavy_inj"]) > 0)
df_cg

        alcohol  dead  heavy_inj  drunk  heavy_nasledky
0             2     0          0  False           False
1             2     0          0  False           False
2             2     0          0  False           False
3             9     0          0   True           False
4             0     0          0  False           False
...         ...   ...        ...    ...             ...
487156        0     0          0  False           False
487157        2     0          0  False           False
487158        0     0          0  False           False
487159        2     0          0  False           False
487160        0     0          0  False           False

[485683 rows x 5 columns]

Vytvorime kontingencni tabulku a vypocitame p-value

In [12]:
ct = pd.crosstab(df_cg["drunk"], df_cg["heavy_nasledky"])
values = st.chi2_contingency(ct)

print("p-value =" ,values[1])

p-value = 2.09715057003383e-123

Vidime, ze p-hodnota je mnohem mensi nez hladina vyznamnosti 0,05 a tedy muzeme s 95% jistotou alternativni hypotezu zamitnout.  
Prijimame tedy hypotezu "Pokud viník nehody byl pod silným vlivem alkoholu, došlo častěji k těžkým zdravotním následkům."